<html>
  <head>
    <style>
    
    DropioFlashConfig = {
      uploadEmbed: {
        onUploadCompleteCallback:function(){alert('uploaded.')};
      }
    }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>