<script>
  $(function(){
    items = $('.item');
    if(items) {
      currentItemIndex = 0;
      items.eq(currentItemIndex).fadeIn();
      
      $('#next').click(function(){
        items.eq(currentItemIndex).fadeOut();
        
        currentItemIndex++;
        if (items.length == currentItemIndex)
          currentItemIndex = 0;
        
        items.eq(currentItemIndex).fadeIn();
      });
    }
  });
</script>

<div id='description'><%= @drop.description %></div>

<ul id='items'>
  <% @assets.each do |asset| %>
    <li class="item" style="display:none;"><%= display_asset(asset) %></li>
  <% end %>
</ul>

<% if @assets.length > 1 %>
  <a id="next" href="#">next</a>
<% end %>

<a href="#" onclick="$('#upload').toggle();return false;">Add Files</a>

<div id="upload" style="display:none;">
  <%= @upload_embed %>
</div>