body {
  background-color: #000;
  color: #FFFFFF;
  font-size:30px;
}

.item {
  display:block;
  text-align:center;
  list-style-type:none;
  padding:0px;
  width:800px;
  height:500px;
  left:50%;
  top:50%;
  margin-top:-250px;
  margin-left:-400px;
  position: absolute;
}

.item > * {
  background-color:#FFFFFF;
  padding:5px;
  margin:auto;
}

form > * {
  display:block;
  float:left;
  clear:left;
}

form textarea {
  width:500px;
  height:200px;
}

form input,
form textarea {
  font-size:25px;
}

#next {
  position:fixed;
  bottom:10px;
  right:10px;
  font-size:150px;
}

#adminPanel {
  font-size:16px;
  width:300px;
}